body {
	font-family: "Roboto+Condensed";
	background-image: url(download.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

#searchform {
	margin-top: 100px;
	float: right;
}

#themesButtons button {
	border-radius: 50%;
	border-radius: 12px;
	background-color: mediumpurple;
	border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#addtheme {
	border-radius: 12px;
	background-color: plum;
	border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
